header {
    position: sticky;
    top: 0;
    background: white;
    padding: 40px 0 20px;
    text-align: center;
    z-index: 100;
    border-bottom: 1px solid #eaeaea;
    transition: transform 0.5s ease;
  }
  
  /* To make the nav stick nicely and move with the header */
  nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
    transition: transform 0.5s ease;
